body {
    font-family: 'Libre Franklin', sans-serif;

}

header {
    width: 100vw;
    height: 10vh;
    background-color: white;
    color: green;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-flex;
    font-size: 1.5em;
    margin: 1em;
    margin-bottom: 0;
}

.cartAndNumber {
    display: flex;
    flex-wrap: wrap;
}

.cartNumber {
    font-size: 1em;
    background: #bdedb3;
    border-radius: 50%;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    left: -8px;
    top: -10px;
    opacity: .9;
    text-align: center;


}

main {
    margin: 1em;
}

.page1 {
    width: 100vw;
    margin-top: 8em;


}

.sort-by-icons img {
    display: inline-block;
}

#productListing {
    //flex container
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: 8px;

}

.product {
    //flex items
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

.imgFrame {
    height: 15em;
    margin: auto;
}

.product img {
    width: auto;
    margin: auto;

}

.product-in-cart {
    display: inline-block;
}

.product-in-cart img {
    max-width: 100px;
    height: auto;
    display: inline-block;
}

.hidden {
    display: none;
}

[role=alert] {
    color: red;
}